@model MainModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    pv {
        font-size: 20px;
        font-weight: bold;
    }

    pa {
        white-space: nowrap;
    }

    input[type=submit] {
     
      
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2 px;
        font-weight: 500;
        color:white;
        background-color: black;
        border: none;
        border-radius: 45px;
       
    }
</style>

<div class="text-center">
    <pv>  <i>       
        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
        { 
            @for (int i = 0; i < Model.Questions.Count; i++)
            {   
                @Html.HiddenFor(m => Model.Questions[i].Id)
                @Html.HiddenFor(m => Model.Questions[i].Attribute)
                @Html.DisplayFor(m=> Model.Questions[i].Text) 
                <pa></pa>
                @Html.CheckBoxFor(m => Model.Questions[i].IsChecked) 
                <br />
            }
            <br />
                <input type="submit" value="See the ideal delice" />
            }
        </i>
    </pv>
</div>



