@model Question
@{
    ViewData["Title"] = "Home Page";
}

<style>
    pv {
        font-size: 20px;
        font-weight: bold;
    }

    pa {
        white-space: nowrap;
    }

   
</style>

<div class="text-center"

    >
  

        <pv>
       
            
                @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
                {
                    
                  @foreach (var std in ViewData["intrebari"] as IList<Question>)
                    {
                @std.Text <pa></pa>  @Html.CheckBoxFor(m => m.IsChecked)
                @Html.HiddenFor(m => m.Id)
               
                @Html.HiddenFor(m => m.Attribute)
                    
                        <br />
                        
                

            }
            
            <input type="submit" value="Click" />
                }

            



    </pv>
 

</div>



