@model MainModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    pv {
        font-size: 20px;
        font-weight: bold;
    }

    pa {
        white-space: nowrap;
    }

   
</style>

<div class="text-center">
    <pv>          
        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
        { 
            @for (int i = 0; i < Model.Questions.Count; i++)
            {   
                @Html.HiddenFor(m => Model.Questions[i].Id)
                @Html.HiddenFor(m => Model.Questions[i].Attribute)
                @Html.DisplayFor(m=> Model.Questions[i].Text) 
                <pa></pa>
                @Html.CheckBoxFor(m => Model.Questions[i].IsChecked) 
                <br />
            }
                <input type="submit" value="Click" />
            }
    </pv>
</div>



