@model AnswerModel
@{
    ViewData["Title"] = "Submit";
}

<style>
    body {
        text-align: left;
   
    };
    pv {
        font-size: 24px;
        font-weight: 450;
       
        text-align:justify;
        overflow-wrap: break-word;
      
       
       
    }
    </style>
    <body>

   
   
      <pv>@Html.DisplayFor(m=>Model.Answer)</pv>
</body>


